---
layout: default
---

<div id="site-intro">
  <p>
    I am a Full-stack Engineer, and a post-grad lecturer. I started my career
    as a Web Designer in 1998 and focused on Web Development in 2008. Through my
    years of business experience, I learnt about Business Development,
    Marketing, Management, Entrepreneurship, and I worked on projects for many
    <a href="./whoami/#clients">international corporates</a>.
  </p>
  <p>
    I am passionate about creating
    <a href="./portfolio"><strong>beautiful</strong> designs</a> for
    <strong>print</strong> and for <strong>the web</strong>, and the
    <strong>happyness</strong> I pursue doing this.
  </p>
</div>

<div class="basic-grid">
  {% for post in site.posts %}
  <div class="post shadow-effect">
    <a href="{{ post.url }}" class="post-link"></a>
    <h3 class="post-title">{{ post.title }}</h3>
    <small class="post-meta">
      {{ post.date | date: "%B %e, %Y" }} in <span class="post-category">{{post.category}}</span>
    </small>
    <div class="post-excerpt">
      {{ post.excerpt }}
			{% if post.tags %} {% for tag in post.tags %} <span class="post-tag">{{ tag }}</span> {% endfor %} {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

{% include social-links.html %}
