<div id="back-top">
  <a href="#top">
    <span></span>
    Back to top
  </a>
</div>

<footer>
  All rights reserved &copy; <a href="{{ site.url }}">{{ site.name }}</a>
  <script>new Date().getFullYear() > 2006 && document.write(2006 + " - " + new Date().getFullYear());</script>
</footer>

<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"
></script>
<script
  src="{{ site.baseurl }}/scripts/script.js"
  type="text/javascript"
></script>

{% include analytics.html %}
