<div class="footerlinks">
	<small>
	Find me on <br>
	{% if site.footer-links.behance %}
		<a href="https://www.behance.com/{{ site.footer-links.behance }}" target="_blank">
			behance
		</a>
	{% endif %}
	{% if site.footer-links.linkedin %}
		<a href="https://www.linkedin.com/in/{{ site.footer-links.linkedin }}" target="_blank">
			linkedin
		</a>
	{% endif %}
	{% if site.footer-links.github %}
		<a href="https://github.com/{{ site.footer-links.github }}" target="_blank">
			github
		</a>
	{% endif %}
	{% if site.footer-links.codepen %}
		<a href="https://codepen.io/{{ site.footer-links.codepen }}" target="_blank">
			codepen
		</a>
	{% endif %}
	{% if site.footer-links.googlescholar %}
		<a href="https://scholar.google.com/citations?user={{ site.footer-links.googlescholar }}" target="_blank">
			googlescholar
		</a>
	{% endif %}
	{% if site.footer-links.stackoverflow %}
		<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}" target="_blank">
			stackoverflow
		</a>
	{% endif %}
	{% if site.footer-links.dribbble %}
		<a href="https://dribbble.com/{{ site.footer-links.dribbble }}" target="_blank">
			dribbble
		</a>
	{% endif %}
	{% if site.footer-links.email %}
		<a href="mailto:{{ site.footer-links.email }}" target="_blank">
			email
		</a>
	{% endif %}
	{% if site.footer-links.facebook %}
		<a href="https://www.facebook.com/{{ site.footer-links.facebook }}" target="_blank">
			facebook
		</a>
	{% endif %}
	{% if site.footer-links.flickr %}
		<a href="https://www.flickr.com/{{ site.footer-links.flickr }}" target="_blank">
			flickr
		</a>
	{% endif %}

	{% if site.footer-links.instagram %}
		<a href="https://instagram.com/{{ site.footer-links.instagram }}" target="_blank">
			instagram
		</a>
	{% endif %}

	{% if site.footer-links.pinterest %}
		<a href="https://www.pinterest.com/{{ site.footer-links.pinterest }}" target="_blank">
			pinterest
		</a>
	{% endif %}
	{% if site.footer-links.twitter %}
		<a href="https://www.twitter.com/{{ site.footer-links.twitter }}" target="_blank">
			twitter
		</a>
	{% endif %}

	{% if site.footer-links.youtube %}
		<a href="https://youtube.com/{{ site.footer-links.youtube }}" target="_blank">
			youtube
		</a>
	{% endif %}
	{% if site.footer-links.googleplus %}
		<a href="https://plus.google.com/{{ site.footer-links.googleplus }}" target="_blank">
			googleplus
		</a>
	{% endif %}
	{% if site.footer-links.rss %}
		<a href="{{ site.baseurl }}/feed.xml" target="_blank">
			rss
		</a>
	{% endif %}
	</small>
</div>