//
// VARIABLES
//

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Major+Mono+Display&display=swap');

:root {
  --primary: #121212; //#2B233B
  --secondary: #f7f7f7;
  --blue: #0f4e8d;
  --blue-title: #7cc8ff;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #ccc;
    --secondary: #121212;
    --blue: #4890c3;
    --blue-title: #0f4e8d;
  }
}

@media (prefers-dark-interface) {
  :root {
    --primary: #ccc;
    --secondary: #121212;
    --blue: #4890c3;
  }
}

// Colors
$primary-color: var(--primary);
$secondary-color: var(--secondary);
$dark-color: #121212;
$light-color: #f7f7f7;
$red: #ab0044;//#a96d85;
$blue: var(--blue);
$light-blue: #4890c3;
$light-red: #d5c4d3;

// Font stacks
$sans: 'Inconsolata', monospace;
$titles-font: 'Major Mono Display', monospace;

