//
// VARIABLES
//

// Colors
$Blue:#39A9D8;
$DarkBlue:#007ec0;
$Green:#00ccaf;

// Grays
$darkerGray: #222;
$darkGray: #373737;
$gray: #666;
$lightGray: #eee;

// Font stacks
$sans: 'Raleway', 'Arial', sans-serif !important;
$curs: 'Prata', "Times New Roman", serif !important;