//
// VARIABLES
//

@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Inconsolata:wght@400;700&display=swap');

:root {
  --primary: #121212;
  --secondary: #f7f7f7;
  --blue: #0f4e8d;
  --blue-title: #0f4e8d;
  --warning-txt: #856b00;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --primary: #f7f7f7;
    --secondary: #121212;
    --blue: #4890c3;
    --blue-title: #7cc8ff;
    --warning-txt: #eebf05;
  }
}

@media (prefers-dark-interface) {
  :root {
    --primary: #f7f7f7;
    --secondary: #121212;
    --blue: #4890c3;
  }
}

// Colors
$blue: var(--blue);
$blue-title: var(--blue-title);
$dark-color: #121212;
$light-blue: #4890c3;
$light-color: #f7f7f7;
$light-red: #d5c4d3;
$primary-color: var(--primary);
$red: #ab0044;
$secondary-color: var(--secondary);
$warning-bg: rgba(255, 193, 7, 0.08);
$warning-bdr: rgba(108, 81, 0, 0.35);
$warning-txt: var(--warning-txt);

// Font stacks
$sans: 'Helvetica', 'Inconsolata', monospace;
$titles-font: 'Helvetica', sans-serif;
$arabic-font: 'Cairo', 'Helvetica', sans-serif;

