---
layout: default
---

<div>
  <article class="post">
    <h1
      class="mb-16 hidden min-h-8 text-base font-extrabold uppercase leading-tight md:flex items-center"
    >
      {{ page.title }}
    </h1>
    <small class="block text-sm text-gray-500">
      {{ page.date | date: "%B %e, %Y" }} in
      <a
        class="text-sky-700"
        href="{{ site.url }}{{ site.category_page }}#{{ page.category | slugify }}"
        >{{page.category}}</a
      >
      | {% assign words = content | number_of_words %} {% if words < 360 %} 1
      min {% else %} {{ words | divided_by:180 }} mins {% endif %} read |
      Tagged: {% if page.tags %} {% for tag in page.tags %}
      <a
        href="{{ site.url }}{{ site.tag_page }}#{{ tag | slugify }}"
        class="post-tag text-sky-700"
        >{{ tag }}</a
      >
      {% endfor %} {% endif %}
    </small>

    <div class="entry">{{ content }}</div>

    <div class="mt-10 flex justify-between">
      {% if page.previous.url %}
      <a class="text-sky-700" href="{{page.previous.url}}">&laquo; Previous</a>
      {% endif %} {% if page.next.url %}
      <a class="text-sky-700" href="{{page.next.url}}">Next &raquo;</a>
      {% endif %}
    </div>
  </article>
</div>
